* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Tahoma;
}

body {
    background: black;
}

#container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
    background-color: white;
}

#product_list {

    max-width: 900px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
}

#product_list {

    max-width: 900px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
}

.flex_item {
    background-color: lightgreen;
    flex: 0 0 280px;
}

.flex_item img {
    width: 100%;
}