* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Tahoma;
}

body {
    background: black;
}

#container {
    width: 1200px;
    background-color: white;
}

#flex_container {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
}

.flex_item {
    background-color: lightgreen;
    flex: 0 0 280px;
}

.flex_item img {
    width: 100%;
}